<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eShop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Welcome to eShop</h3>
    <a th:href="@{/product/list}" class="btn btn-primary btn-sm">List Product</a>
    <a th:href="@{/car/carList}" class="btn btn-primary btn-sm">List Car</a>
</div>
</body>
</html>